name: Check manual dependencies

on:
  schedule:
    - cron: "25 3 * * 2" # weekly: tuesdays at 3:25
  workflow_dispatch: # Allow manual run

jobs:
  check-dependencies:
    runs-on: ubuntu-latest

    outputs:
      check-outcome: ${{ steps.check.outcome }}

    steps:
      - uses: actions/checkout@v3
      - name: Check versions of manually managed dependencies
        id: check
        # We want to be able to react, if the check fails due to a new version.
        continue-on-error: true
        run: |
          ./release/100-check-latest-versions.sh
      - name: debug
        run: echo ${{ steps.check.outcome }}

  create-pull-request:
    runs-on: ubuntu-latest
    needs: check-dependencies

    if: ${{ needs.check-dependencies.outputs.check-outcome == 'failure' }}

    steps:
      - uses: actions/checkout@v3
      - name: Create changes
        run: |
          ./release/101-save-latest-versions.sh

          # Extract newly added lines in diff and combine into commit message part
          CHANGED_VERSIONS="$(git diff releave/versions.txt | grep -e '^\+[^\+]' | sed 's/^+//' | paste -sd ',' | sed 's/,/, /')"
          CHANGED_VERSIONS_BRANCH="autoupdate/$(sed 's/ /-/' <<< "CHANGED_VERSIONS")"

          echo "COMMIT_MESSAGE=\"[AutoUpdate] $CHANGED_VERSIONS\"" >> $GITHUB_ENV
          echo "CHANGED_VERSIONS_BRANCH=\"$CHANGED_VERSIONS_BRANCH\"" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        id: pull-request
        with:
          title: ${{ env.COMMIT_MESSAGE }}
          commit-message: ${{ env.COMMIT_MESSAGE }}
          branch: ${{ env.CHANGED_VERSIONS_BRANCH }}
          delete-branch: true
          body: |
            New versions of one or more dependencies were found and combined into this pull request.

            If there are notable changes in the dependencies' changelogs, then please create a new release.

      # - name: Automatically merge when tests pass
      #   uses: peter-evans/enable-pull-request-automerge@v2
      #   with:
      #     pull-request-number: ${{ steps.pull-request.outputs.pull-request-number }}
